@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


body{

  justify-content: center;
  display: flex;
}

.banner {

  background-color: #211C24;
  display: flex;
  height: 632px;
  width: 1440px;

}

.left {
  
  height: 256px;
  width: 714px;
  padding-left: 140px;
  padding-top: 200px;

}

h4 {

  color: grey;
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
  
  
}

h6 {

  color: white;
  font-size: 90px;
  font-weight: lighter;
  line-height: 90px;
  font-family: 'Inter', sans-serif;
}

span {
  color: white;
  font-weight: 600;
}


p {

  line-height: 64px;
  color: grey;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 2px;
  font-family: 'Inter';
}

button {

  border: 1px solid white;
  border-radius: 6px;
  color: white;
  margin: 15px;
  padding: 15px;
  height: 56px;
  width: 191px;
  font-family: 'Inter';
}


.right{
height: 632px;
width: 406px;
margin-left: 180px;
}


.banner2{

  display: flex;

}

.east{

  width: 720px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.up{
  display: flex;
  height: 328px;
  width: 720px;
}

.down{
  display: flex;
  height: 272px;
  width: 800px;
}


.L{
   height: 272px;
   width: 360px;
  display: flex;
  background-color: #EDEDED;
}

.R{
  background-color: #353535;
  /* height: 360px; */
  width: 362px;
  display: flex;
}


h2{
  margin-top: 120px;
  font-family: 'Inter';
  font-size: 64px;
  font-weight: lighter;
  line-height: 56px;
  margin-left: 40px;
}

#Air{

  color: black;
  line-height: 16px;
}

.west{

  background-color: #EDEDED;
  height: 600px;
  width: 720px;
  display: flex;

  
}
 

#shop{

  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 700;
  margin-left: 40px;
  font-family: 'Inter',sans-serif;
}


.samepara{

  font-size: small;
  color: grey;
  line-height: 24px;
  margin-left: 44px;
  font-family: 'Inter';
  margin-top: 45px;

}

.samepara1{
  font-size: small;
  color: grey;
  line-height: 24px;
  margin-top: 40px;
  font-family: 'Inter';
}
.samepara2{

  font-size: small;
  color: grey;
  font-family: 'Inter';
  margin-left: 75px;
  line-height: 25px;

}
.samepara3{

    font-size: small;
    color: grey;
    line-height: 20px;
    font-family: 'Inter';
    margin-left: 50px;
    margin-top: 10px;
  
  }


.macbook{

  padding-top: 60px;
  height: 150px;
}

.playstation5{

  height: 40px ;
  width: 338px;
  margin-top: 70px;
  font-size: 49px;
  font-weight: medium;
}

#ap{
font-size: 29px;
font-family: 'Inter';
color: black;
margin-left: 85px;
padding-top: 40px;
}

#Max{
  color: black;
  font: bold;
}

#av{
  font-size: 29px;
  font-family: 'Inter';
  color: white;
  font-weight: lighter;
  padding-top: 40px;
   margin-left: 50px;
  }
  

#pps5{

  color: black;
  height: 40px ;
  width: 338px;
  font-family: 'inter';
  font-size: 50px;
}


#laptop{
  margin-left: 35px;
}


#head3{

  color: black;
  font-family: 'Inter';
  padding-left: 160px;
  padding-top: 80px;
}


